@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
	font-family: "Nunito", sans-serif;
}

h1,
h3 {
	text-align: center;
	color: #041e41;
}

h3 {
	margin-bottom: 0;
}

.intro {
	max-width: 800px;
	margin: auto;
}

.container {
	margin: 0 24px;
}

.row {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.column {
	flex: 1 1 480px;
}
